/*====================================================*/
/*=== fonts ====*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900");
/*===== color =====*/
/*====================================================*/
/*====================================================*/
a {
    text-decoration: none;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

a:hover,
a:focus {
    text-decoration: none !important;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.row.m0 {
    margin: 0px;
}

.p0 {
    padding: 0px;
}

i:before {
    margin-left: 0px !important;
}

body {
    font: 400 15px/28px "Poppins", sans-serif;
    letter-spacing: 0px;
    color: #677294;
    padding: 0px;
    overflow-x: hidden;
    z-index: 0;
}

.body_wrapper {
    z-index: 20;
    overflow: hidden;
}

a,
.btn,
button {
    text-decoration: none;
    outline: none;
}

a:hover,
a:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
    text-decoration: none;
    outline: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media (min-width: 1250px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 100%;
    }
}

.container.custom_container {
    max-width: 1520px;
}

.f_size_50 {
    font-size: 50px;
}

.f_size_40 {
    font-size: 40px;
}

.f_size_30 {
    font-size: 30px;
}

.f_size_28 {
    font-size: 28px;
}

.f_size_22 {
    font-size: 22px;
}

.f_size_24 {
    font-size: 24px;
}

.f_size_20 {
    font-size: 20px;
}

.f_size_18 {
    font-size: 18px;
}

.f_size_16 {
    font-size: 16px;
}

.f_size_15 {
    font-size: 15px;
}

.l_height60 {
    line-height: 60px;
}

.l_height50 {
    line-height: 50px;
}

.l_height45 {
    line-height: 45px;
}

.l_height40 {
    line-height: 40px;
}

.l_height30 {
    line-height: 30px;
}

.l_height34 {
    line-height: 34px;
}

.l_height28 {
    line-height: 28px;
}

.f_p {
    font-family: "Poppins", sans-serif;
}

/*=========== font-weight ==============*/
.f_300 {
    font-weight: 300;
}

.f_400 {
    font-weight: 400;
}

.f_500 {
    font-weight: 500;
}

.f_600 {
    font-weight: 600;
}

.f_700 {
    font-weight: 700;
}

.f_900 {
    font-weight: 900;
}

.mt_60 {
    margin-top: 60px;
}

.mt_30 {
    margin-top: 30px;
}

.mt_40 {
    margin-top: 40px;
}

.mt_70 {
    margin-top: 70px;
}

.mt_75 {
    margin-top: 75px;
}

.mt_100 {
    margin-top: 100px;
}

.mt_130 {
    margin-top: 130px;
}

.mb_70 {
    margin-bottom: 70px;
}

.mb_20 {
    margin-bottom: 20px;
}

.mb_15 {
    margin-bottom: 15px;
}

.mb_30 {
    margin-bottom: -30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb_40 {
    margin-bottom: 40px;
}

.mb_50 {
    margin-bottom: 50px;
}

.mb-50 {
    margin-bottom: -50px;
}

.mb_60 {
    margin-bottom: 60px;
}

.mb_90 {
    margin-bottom: 90px;
}

.pl_20 {
    padding-left: 20px;
}

.pl-30 {
    padding-left: 30px;
}

.pl_40 {
    padding-left: 40px;
}

.pl_50 {
    padding-left: 50px;
}

.pl_100 {
    padding-left: 100px;
}

.pl_70 {
    padding-left: 70px;
}

.pl_120 {
    padding-left: 120px;
}

.pr_100 {
    padding-right: 100px;
}

.pr_120 {
    padding-right: 120px;
}

.pr_70 {
    padding-right: 70px;
}

.pr_50 {
    padding-right: 50px;
}

.pr_20 {
    padding-right: 20px;
}

.pt_150 {
    padding-top: 150px;
}

.pt_120 {
    padding-top: 40px;
}

.sec_pad {
    padding: 50px 0px;
}

ul li {
    list-style: none;
}

.figure {
    width: 100%;
}

.heading h2 {
    font-size: 36px;
    color: #333;
    font-weight: 700;
    font-family: "Poppins";
    margin-bottom: 30px;
}

.container-fluid {
    padding: 0 50px;
}

p {
    font-size: 15px;
    font-family: "Poppins";
}

/*----------------------*/

.price_item {
    border-radius: 25px;
    background: #f5f5f5;
}

.price_item .figure img {
    width: 100%;
}

.price_item h5 {
    color: #03989e;
    font-size: 20px;
    font-weight: 700;
    font-family: "Poppins";
}

.price_item .figcaption {
    padding: 10px 20px 30px;
}

.price_item .figcaption strong {
    font-size: 18px;
    color: #333333;
}

.price_item .figcaption span {
    font-size: 16px;
    color: #777777;
}

.price_item .figcaption p {
    font-size: 14px;
    color: #333333;
    font-weight: 600;
}

.price_item .figcaption a {
    background: #ffde59;
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    border-radius: 25px;
    display: inline-block;
    padding: 8px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.price_item .figcaption .signup {
    background: #333;
    color: #ffde59;
    margin: 0;
}

.price_item .figcaption .signup:hover {
    background: #ffde59;
    color: #333333;
}

.price_item .figcaption a:hover {
    background: #333;
    color: #ffde59;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.price_item .figure img {
    border-top-left-radius: 25px;height: 250px;
    border-top-right-radius: 25px;
}

.price_item .figure {
    position: relative;
}

.price_item .figure:after {
    position: absolute;
    /* background: url(../images/art.png); */
    content: "";
    left: 0;
    top: 65px;
    right: 0;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    margin: 0 auto;

    background-size: 100%;
}

.active-heading {
    background: #dddddd;
    float: left;
    width: 100%;
    margin-bottom: 60px;
}

.active-heading ul {
    margin: 0;
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
}

.active-heading ul li {
    float: left;
    padding: 20px 75px;
    color: #333;
    font-size: 20px;
    font-weight: 700;
}

.active-heading .active {
    color: #03989e;
    border-bottom: 5px solid #03989e;
}

/*---head---*/

.btn-head {
    padding: 8px 25px !important;
    background: #ffde59 !important;
    font-weight: 600 !important;
    border-radius: 50px !important;
    color: #333 !important;
    border: 1px solid #ffde59 !important;
}

.btn-head:hover {
    background: #fff !important;
}

.navbar {
    padding: 0 20px;
}
.header_area {
    background: #03989e;
    position: fixed;
    z-index: 999;
    top: -2px;
    width: 100%;
}

.nav-link {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.nav-link:hover {
    color: #ffde59;
}

.nav-item {
    padding: 0 20px;
}

.search {
    background: #fff;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.header_area .form-inline {
    margin-right: 20px;
}

.header_area .form-inline .form-control {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    font-size: 12px;
    color: #aaaaaa;
    padding: 18px 20px;
    border-color: transparent;
}

.header_area .form-inline .form-control:focus {
    box-shadow: none;
}

.header_area .navbar-brand img {
    width: 60%;
}

.header_area.light-header {
    background: #fff;
    padding: 10px 0;
    box-shadow: 0px 4px 6px 0px rgba(12, 0, 46, 0.06);
}

.header_area.light-header .navbar-brand img {
    position: absolute;
    top: 10px;
    width: auto;
    z-index: 9;
}

.header_area.light-header .nav-link {
    color: #333;
}

.header_area.light-header .nav-link:hover {
    color: #03989e;
}

.header_area.light-header .form-inline .form-control {
    background: #f5f5f5;
}

.header_area.light-header .search {
    background: #f5f5f5;
    border: 1px solid transparent;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.header_area .search {
    background: #fff;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.navbar-toggler {
    border: 2px solid #fcdd59 !important;
    padding: 3px !important;
    background-color: transparent !important;
    cursor: pointer !important;
    height: 28px !important;
}
.header_area .navbar-toggler span,
.header_area .navbar-toggler span:before,
.header_area .navbar-toggler span:after {
    width: 26px;
    height: 2px;
    background-color: #fff;
    display: block;
    transition: 0.3s;
}

.header_area.light-header .navbar-toggler span,
.header_area.light-header .navbar-toggler span:before,
.header_area.light-header .navbar-toggler span:after {
    width: 26px;
    height: 2px;
    background-color: #03989e;
    display: block;
    transition: 0.3s;
}

.navbar-toggler span:before {
    content: "";
    transform: translateY(-6px);
}
.navbar-toggler span:after {
    content: "";
    transform: translateY(4px);
}

.navbar-toggler:focus,
.navbar-toggler:hover {
    text-decoration: none;

    outline: none;
}

/*---head---*/

/*----------------------*/

.my-classes {
    padding-bottom: 50px;
    float: left;
    width: 100%;
    padding-top: 68px;
}

.my-classes.for-user-dashboard-page {
    padding-top: 50px;
}

.my-classes.for-find-class {
    padding-top: 68px;
}
.my-classes .container-fluid {
    padding: 0 65px;
}

.rcm-class {
    float: left;
    width: 100%;
    padding-top: 68px;
}

.rcm-class .container-fluid {
    padding: 0 50px !important;
}

.outer-sec img {
    width: 100%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 100%;
}

.outer-sec {
    background: #f5f5f5;
    border-radius: 25px;
    margin-bottom: 30px !important;
}

.outer-sec.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.outer-sec .figcaption {
    padding: 15px;
    width: 60%;
}

.outer-sec .figcaption h5 {
    color: #03989e;
    font-weight: 700;
    font-size: 18px;
}

.outer-sec .figcaption strong {
    font-size: 18px;
    color: #333333;
}

.outer-sec .figcaption span {
    font-size: 16px;
    margin-bottom: 10px;
    color: #777777;
}

.outer-sec .figcaption p {
    font-size: 14px;
    color: #333333;
    font-weight: 600;
}

.outer-sec .figcaption a {
    background: #ffde59;
    font-size: 12px;
    font-weight: 600;
    color: #333333;
    border-radius: 25px;
    padding: 8px 20px;
    margin-right: 6px;
    margin-bottom: 6px;
}

.outer-sec .figcaption a:hover {
    background: #333;
    color: #ffde59;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.outer-sec .figcaption .joinnow {
    background: #3eab00;
    color: #fff;
}

.outer-sec .figcaption .joinnow:hover {
    background: #fff;
    color: #3eab00;
}

.outer-sec .figcaption .cancel {
    background: #e80000;
    color: #fff;
}

.outer-sec .figcaption .cancel:hover {
    background: #fff;
    color: #e80000;
}

.outer-sec .figure {
    position: relative;
    width: 40%;
}

.outer-sec .figure:after {
    position: absolute;
    /* background: url(../images/art.png); */
    content: "";
    left: 0;
    top: 100px;
    right: 0;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: 100%;
}

.footer_bottom p {
    color: #fff;
    font-size: 14px;
}

.msg-box {
    float: left;
    width: 100%;
    padding-top: 68px;
    padding-bottom: 50px;
}

.msg-box.find-class.sec_pad{padding-top: 130px;}

.msg {
    background: #f5f5f5;
    border-radius: 50px;
    float: left;
    width: 100%;
    padding: 40px;
}

.msg .text-sec ul {
    float: left;
    width: 100%;
    margin: 30px 0;
    
}

.msg .text-sec ul li {
    list-style: none;

    margin-bottom: 50px;
    float: left;
    width: 100%;
    position: relative;
    padding-left: 80px;
}

.msg .text-sec ul li:before {
    position: absolute;
    background: url(../images/user.png);
    content: "";
    left: -35px;
    top: 5px;

    width: 50px;
    height: 50px;
    background-repeat: no-repeat;

    background-size: 100%;
}

.msg .text-sec span {
    background: #fff;
    border-radius: 30px;
    border-bottom-left-radius: 0;
    padding: 15px 25px;
    font-size: 16px;
    display: inline-block;
    color: #333333;
    font-weight: 400;
}

.msg .video-sec {
    padding: 0 58px;
    display: flex;
    align-items: center;
}

.msg .video-sec span img {
    width: 50px;
}

.msg .video-sec span {
    font-size: 16px;
    font-weight: 600;
    color: #333333;
}

.msg .video-sec iframe {
    width: 600px;
    float: left;
    border-radius: 30px;
    margin-right: 60px;
}

.msg-type .form-control.memail {
    border: 1px solid #e9ebf4;

    background-color: white;
    height: 50px;
    border-radius: 30px !important;
    box-shadow: 0px 10px 20px 0px rgba(0, 11, 40, 0.1);
    font: 400 15px/46px "Poppins", sans-serif;
    padding-left: 30px;
    color: #333;
    z-index: 0;
}

.msg-type .btn {
    position: absolute;
    right: 8px;
    color: #fff;
    top: 50%;
    background: #03989e;
    font-size: 15px;
    font-weight: 700;
    transform: translateY(-50%);
    padding: 6px 30px;
    border-radius: 30px;
    z-index: 9;
}

.msg-type .upload {
    position: absolute;
    right: 0;
    color: #fff;
    top: 50%;
    font-size: 9px;
    transform: translateY(-50%);
    padding: 0;
    z-index: 9;
}

.footer_area {
    background: #333333;
    padding: 30px 0 20px;
    float: left;
    width: 100%;
}

.Social-link ul {
    float: left;
    width: 100%;
    margin: 0;
}

.Social-link ul li {
    float: left;
    padding: 0 20px;
    font-size: 16px;
}

.Social-link ul li a {
    color: #fff;
    font-weight: 400;
}

.Social-link ul li a:hover {
    color: #03989e;
}

.social_icon a {
    color: #fff;
    padding: 15px;
    background: transparent;
    border-radius: 50px;
    font-size: 18px;
}

.social_icon a:first-child {
    padding: 15px 19px;
}

.social_icon a:hover {
    background: #03989e;
    color: #fff;
}

.footer_top .row {
    align-items: center;
}

.footer_top {
    padding-bottom: 30px;
}

.footer_bottom p {
    color: #fff;
    font-size: 14px;
    margin-top: 20px;
}

.footer_bottom a {
    color: #ffde59;
    font-weight: 700;
}

.footer_bottom a:hover {
    color: #03989e;
}

.footer_bottom .container {
    border-top: 1px solid #444444;
}

.login-form .signin {
    background: #03989e;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    border-radius: 25px;
    padding: 10px 20px;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.login-form .signin.google {
    background: #1f7ce5;
}

.login-form .form-control {
    color: #aaaaaa;
    font-size: 14px;
    background: #f5f5f5;
    border: none;
    border-radius: 50px;
    height: 50px;
    padding: 0 25px;
    margin-bottom: 20px;
}

.login-form .payment {
    color: #aaaaaa;
    font-size: 14px;
    background: #f5f5f5;
    border: none;
    border-radius: 50px;
    height: 50px;
    padding: 0 25px;
    margin-bottom: 20px;
}

.login-form span {
    font-weight: 700;
    font-size: 15px;
    color: #03989e;
    margin-bottom: 20px;
}

.login-form strong {
    font-weight: 700;
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.login {
    float: left;
    width: 100%;
    padding-top: 130px !important;
}

.login.join-teacher{padding-top: 50px !important;}

.login.for-user-about {
    padding-top: 68px !important;
}

.login-form {
    padding: 0 260px;
}

.login-form p {
    color: #333;
    font-size: 14px;
}

.login-form p a {
    color: #03989e;
    font-weight: 700;
}

.login-form.teacher-about {
    padding: 0 10px;
}

.login-form.teacher-about textarea {
    height: 200px;
    padding: 20px;
    border-radius: 30px;
}

.video-sec.teacher-about iframe {
    border-radius: 50px;
}

.plans {
    float: left;
    width: 100%;
    margin-top: 84px;
}

.choose-plan {
    background: #fff;
    padding: 20px 20px 40px;
    -webkit-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.27);
    box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.27);
    margin-bottom: 20px;
}

.choose-plan strong {
    font-size: 20px;
    color: #333;
    font-weight: 600;
    margin: 25px 0;
    position: relative;
}

.choose-plan strong:after {
    position: absolute;
    content: "";
    background: #ffde59;
    height: 3px;
    width: 50px;
    top: 35px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.choose-plan h3 {
    font-size: 60px;
    color: #03989e;
    font-weight: 700;
    margin-bottom: 0px;
}

.choose-plan span {
    font-size: 16px;
    color: #aaaaaa;
    font-weight: 400;
    margin-bottom: 15px;
    padding-left: 120px;
}

.choose-plan p {
    font-size: 15px;
    color: #777;
    font-weight: 400;
    margin-bottom: 0px;
    line-height: 25px;
}

.choose-plan .form-check-label {
    display: block;
    text-align: right;
}

.choose-plan .form-check-label .form-check-input {
    width: 20px;
    height: 20px;
}

.plans a {
    margin: 20px auto 0;
    font-weight: 600 !important;
}

.find-class .figure img {
    width: 100%;
    border-radius: 20px;
}

.find-class .heading h2 {
    font-size: 27px;
    margin-bottom: 10px;
}

.find-class .heading p {
    color: #333;
}

.find-class .heading p strong {
    color: #03989e;
}

.find-class-right {
    background: #f5f5f5;
    padding: 30px;
    border-radius: 20px;
}

.find-class-right h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    font-weight: 600;
}

.find-class-right ul {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
    margin-bottom: 30px;
}

.find-class-right ul li {
    float: left;
    padding: 10px;
    background: #dddddd;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    justify-content: center;
    font-weight: 600;
    font-size: 15px;
    color: #333;
    display: flex;
    align-items: center;
}

.find-class-right .active {
    color: #fff;
    background: #03989e;
}

.find-class-right p {
    color: #999999 !important;
    margin-bottom: 40px;
}

.find-class-right .btn-head {
    margin-bottom: 15px;
}

.find-class-right .individual {
    background: #333 !important;
    color: #ffde59 !important;
}

.find-class p {
    color: #333;
}

.find-class-one ul li {
    padding: 20px 40px;
    font-size: 15px;
}
.find-class-one {
    margin-bottom: 0;
}
.find-class-one.next-part {
    background: #f7f7f7;
}

.active-heading.find-class-one .active {
    border-bottom: none;
}

.custom .form-control {
    margin: 0 10px;
    color: #aaaaaa;
    font-size: 14px;
    background: #f5f5f5;
    border: none;
    border-radius: 50px;
    height: 35px;
    padding: 0 25px;
}

.custom {
    background: none;
    margin-top: 20px;
    margin-bottom: 40px;
}

.custom ul {
    align-items: center;
}

.custom ul li {
    align-items: center;
    border: 1px solid #dddddd !important;
    line-height: 35px;
}

.custom li strong {
    margin-right: 10px;
}

.for-find-class .outer-sec .figure {
    width: 11%;
}

.for-find-class .outer-sec .figcaption {
    width: 52%;
}

.for-find-class .outer-sec .buttons {
    display: flex;
    align-items: center;
    width: 37%;
}

.for-find-class .outer-sec .buttons .signup {
    margin-left: 15px;
    background: #333 !important;
    color: #ffde59 !important;
}

.for-find-class .outer-sec .figure:after {
    top: 44px;
}

.banner {
    background: url("../images/bg1.jpg") no-repeat;
    background-size: 100% 100%;
    float: left;
    width: 100%;
    padding: 230px 0;
    position: relative;
    margin-top: 60px;
}

.banner h1 {
    font-size: 60px;
    font-weight: 700;
    font-family: "Poppins";
    color: #fff;
    margin-bottom: 20px;
}

.banner p {
    font-size: 17px;
    font-weight: 500;
    font-family: "Poppins";
    color: #fff;
    margin-bottom: 30px;
}

.banner a {
    background: #03989e !important;
    display: inline-block;
    border-color: transparent !important;
    color: #fff !important;
}

.banner a:hover {
    color: #03989e !important;
    background: #fff !important;
}

.testimonial {
    float: left;
    width: 100%;
    position: relative;
    margin-top: -100px;
    
}

.testi-bg {
    background: #fff;
    padding: 30px;
    border-radius: 25px;
    float: left;
    width: 100%;
    -webkit-box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.12);
}

.testi-bg ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.testi-bg ul li {
    float: left;
}

.testi-bg .left {
    margin-right: 30px;
    width: 20%;
    text-align: center;
}

.testi-bg .left strong {
    color: #03989e;
    font-size: 14px;
    font-weight: 600;
}

.testi-bg .right {
    width: 80%;
    position: relative;
    z-index: 1;
}

.testi-bg .right:before {
    background: url("../images/quote.png") no-repeat;
    content: "";
    top: 0;
    right: 20px;
    z-index: -1;
    width: 130px;
    height: 130px;
    position: absolute;
    background-size: 100%;
}

.testi-bg .right p {
    font-size: 18px;
    color: #333;
    font-weight: 400;
}

.heading p {
    color: #777777;
    text-align: center;
}

.for-home {
    background: #fff;
    margin-bottom: 30px;
}

.how-work {
    float: left;
    width: 100%;
    margin: 100px 0;
    position: relative;
}

.how-work:before {
    position: absolute;
    content: "";
    background: #f5f5f5;
    width: 100%;
    height: 750px;
    top: 14rem;
    z-index: -1;
}

.how-work .figure img {
    width: 100%;
}
.how-work .figcaption {
    margin: 20px 0 50px 0;
}

.how-work h5 {
    color: #333;
    font-size: 20px;
    font-weight: 700;
    font-family: "Poppins";
}

.how-work p {
    font-size: 16px;
    color: #777777;
}

.about {
    float: left;
    width: 100%;
}

.about .figure img {
    width: 100%;
    -webkit-box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.12);
}

.about .row {
    align-items: center;
    margin-bottom: 50px;
}

.about .row:nth-child(even) {
    direction: rtl;
    text-align: right;
}

.about .figcaption {
    padding: 0 20px;
}

.about .figcaption h3 {
    color: #03989e;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 40px;
    position: relative;
}

.about .figcaption p {
    font-size: 16px;
    color: #777777;
}

.about .figcaption h3:after {
    position: absolute;
    content: "";
    background: #333333;
    height: 1px;
    width: 280px;
    top: 80px;
    left: -190px;
}

.about .figcaption.third h3:after {
    top: 160px;
}

.about .figcaption.second h3:after {
    top: 160px;
    right: -190px;
}

.plans.bg-blue {
    background: #03989e;
    margin-top: 0;
}

.plans.bg-blue .heading h2 {
    color: #ffde59;
}
.plans.bg-blue .heading p {
    color: #fff;
}

.plans.bg-blue .choose-plan {
    margin-top: 30px;
}

.question {
    float: left;
    width: 100%;
    background: #f5f5f5;
}

.question .ask-sec {
    margin-top: 20px;
}

.question .ask-sec .card-link {
    font-size: 20px;
    font-weight: 700;
    color: #333;
    width: 100%;
    float: left;
}

.question .ask-sec .card-link span {
    float: right;
}

.question .ask-sec .card-link span i {
    border: 2px solid #333;
    padding: 4px 5px 4px 6px;
    border-radius: 100px;
    font-size: 14px;
    text-align: center;
}

.question .ask-sec .card-body {
    font-size: 15px;
    font-weight: 400;
    color: #777777;
    padding: 0px 20px;
    background: #f5f5f5;
}

.question .ask-sec .card-header {
    background: #f5f5f5;
    border-color: #f5f5f5;
}

.question .ask-sec .card {
    border-color: #f5f5f5;
}

.Coming-soon {
    float: left;
    width: 100%;
    padding-top: 50px;
    background: #ffde59;
}

.Coming-soon .row {
    align-items: center;
}

.Coming-soon .figure {
    text-align: center;
}

.Coming-soon .figcaption h3 {
    color: #333;
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 30px;
}

.Coming-soon .figcaption p {
    font-size: 16px;
    color: #333;
}

.error-text{ color:red;}

.join-teacher-top{
	float: left;width: 100%;padding-top: 130px;
}

.join-teacher-top i{
	color: #f8cd02;font-size: 24px;
}

.join-teacher-top span{
	margin-bottom: 10px;display: block;
}

.msg .text-sec ul li div {

    position: absolute;
    left: -60px;
    top: 65px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    
    width: 97px;
    line-height: 15px;

}

.msg .video-sec span i {
    cursor: pointer;
}

.msg .text-sec span i {cursor: pointer;}

video:focus {outline: 0 !important}

.video-sec video {

    border-radius: 30px;
    border: 1px solid #d2d2d2;
    padding: 10px;
    background: #fff;
    border-bottom-left-radius: 0;
}

.navbar-nav {margin-left: auto;}